include pug/libs/_libs

doctype html
html(lang='en')
    include pug/_head
    body
        header 
            .container 
                .header-top 
                    .logo 
                        img(src="./images/logo.png", alt="Logo")
                    .nav 
                        a(href="http://") Home
                        a(href="http://") Services
                        a(href="http://") Cart
                        a(href="http://").login Login
                    .burger-menu
                        img(src="./images/menu.png", alt="Menu")
            .header-bottom 
                .container
                    .wrap
                        a(href="http://").button Select A car
                        .call 
                            a(href="http://")
                                img(src="./images/whatsapp.png", alt="Whatsapp")
                            a(href="http://")
                                img(src="./images/phone.png", alt="Phone")
        section.first-section
            .container
                h1 Car repair at your door step
                a(href="http://").button Select a car
                .img-block
                    img(src="./images/asset1.png", alt="Service")
        section.second-section
            .container 
                h3 Our partners
                .partners-block 
                    .block-img
                        img(src="./images/image1.png", alt="Bro4U")
                    .block-img
                        img(src="./images/image2.png", alt="Uber")
                    .block-img
                        img(src="./images/image3.png", alt="Ola")
                    .block-img
                        img(src="./images/image4.png", alt="Pitstop")
                    .block-img
                        img(src="./images/image5.png", alt="Allianz")
                    .block-img
                        img(src="./images/image6.png", alt="Urban Company")
        section.third-section 
            .container 
                .wrap-about
                    .wind
                        img(src="./images/wind-left.png", alt="Left Wind")
                    .about-us 
                        h3 About Us
                        p At meter per second, we take pride in our values
                        p - service,integrity and excellece.
                    .wind-break 
                        img(src="./images/wind-left-single1.png", alt="Left")
                        img(src="./images/wind-right-single1.png", alt="Right")
                    .wind
                        img(src="./images/wind-right.png", alt="Right Wind")
                .wrap-list
                    .wrap-list-item
                        .number 1.
                        h5 Who we are?
                        p Established in 2016, with a Vision to Provide Customers Transparent, Convenient and Reliable Car Service and Repair right at Customer Doorstep in Hyderabad
                    .wrap-list-item
                        .number 2.
                        h5 What is the problem?
                        p Car owners often lack visibility regarding the quality of Mechanics, usage of Spare parts and Transparency in price.
                    .wrap-list-item
                        .number 3.
                        h5 How do we help?
                        p Now, Metre Per Second is a Premier Doorstep Car Care Company providing Car Service with Professional Technicians right at your location in Hyderabad.
        section.fourth-section 
            .container
                h3 Company’s overview car services
                .wrap-overview 
                    .wrap-overview-item Car Repairs
                    .wrap-overview-item Car Inspection
                    .wrap-overview-item Car Denting &amp; Painting
                    .wrap-overview-item Car Major Repairs
                    .wrap-overview-item Car Custom Repairs
                    .wrap-overview-item Car AC Service
        section.fifth-section 
            .container 
                h3 Our services
                .services-block 
                    .services-block-card
                        .services-block-card-top 
                            .services-block-card-top-img
                                img(src="./images/s1.png", alt="General Service")
                            .services-block-card-top-number 01
                        h4 General Service
                        a(href="http://").button Enquire Us
                    .services-block-card
                        .services-block-card-top 
                            .services-block-card-top-img
                                img(src="./images/s2.png", alt="Denting and Painting")
                            .services-block-card-top-number 02
                        h4 Denting and Painting
                        a(href="http://").button Enquire Us
                    .services-block-card
                        .services-block-card-top 
                            .services-block-card-top-img
                                img(src="./images/s3.png", alt="Car Inspection")
                            .services-block-card-top-number 03
                        h4 Car Inspection
                        a(href="http://").button Enquire Us
                    .services-block-card
                        .services-block-card-top 
                            .services-block-card-top-img
                                img(src="./images/s4.png", alt="Battery replacement")
                            .services-block-card-top-number 04
                        h4 Battery replacement
                        a(href="http://").button Enquire Us
                    .services-block-card
                        .services-block-card-top 
                            .services-block-card-top-img
                                img(src="./images/s5.png", alt="AC service & repair")
                            .services-block-card-top-number 05
                        h4 AC service &amp; repair
                        a(href="http://").button Enquire Us
                    .services-block-card
                        .services-block-card-top 
                            .services-block-card-top-img
                                img(src="./images/s6.png", alt="Car fitments")
                            .services-block-card-top-number 06
                        h4 Car fitments
                        a(href="http://").button Enquire Us
                    .services-block-card
                        .services-block-card-top 
                            .services-block-card-top-img
                                img(src="./images/s7.png", alt="Car Detailing Services")
                            .services-block-card-top-number 07
                        h4 Car Detailing Services
                        a(href="http://").button Enquire Us
                    .services-block-card
                        .services-block-card-top 
                            .services-block-card-top-img
                                img(src="./images/s8.png", alt="Car major repairs")
                            .services-block-card-top-number 08
                        h4 Car major repairs
                        a(href="http://").button Enquire Us
                    .services-block-card
                        .services-block-card-top 
                            .services-block-card-top-img
                                img(src="./images/s9.png", alt="Windshield & Lights")
                            .services-block-card-top-number 09
                        h4 Windshield &amp; Lights
                        a(href="http://").button Enquire Us
                    .services-block-card
                        .services-block-card-top 
                            .services-block-card-top-img
                                img(src="./images/s10.png", alt="Suspeension Repairs")
                            .services-block-card-top-number 10
                        h4 Suspeension Repairs
                        a(href="http://").button Enquire Us
                    .services-block-card
                        .services-block-card-top 
                            .services-block-card-top-img
                                img(src="./images/s11.png", alt="Suspeension Repairs")
                            .services-block-card-top-number 11
                        h4 Suspeension Repairs
                        a(href="http://").button Enquire Us
                    .services-block-card
                        .services-block-card-top 
                            .services-block-card-top-img
                                img(src="./images/s12.png", alt="Tires & Wheels")
                            .services-block-card-top-number 12
                        h4 Tires &amp; Wheels
                        a(href="http://").button Enquire Us
                    .services-block-card
                        .services-block-card-top 
                            .services-block-card-top-img
                                img(src="./images/s13.png", alt="Brake Repairs")
                            .services-block-card-top-number 13
                        h4 Brake Repairs
                        a(href="http://").button Enquire Us
                    .services-block-card
                        .services-block-card-top 
                            .services-block-card-top-img
                                img(src="./images/s14.png", alt="Car Services")
                            .services-block-card-top-number 14
                        h4 Car Services
                        a(href="http://").button Enquire Us
                    .services-block-card
                        .services-block-card-top 
                            .services-block-card-top-img
                                img(src="./images/s15.png", alt="Membership")
                            .services-block-card-top-number 15
                        h4 Membership
                        a(href="http://").button Enquire Us
                    .services-block-card
                        .services-block-card-top 
                            .services-block-card-top-img
                                img(src="./images/s16.png", alt="General Service")
                            .services-block-card-top-number 16
                        h4 Insurence Claims
                        a(href="http://").button Enquire Us
        section.sixth-sextion 
            .container 
                h3 Our Trademark
                .trademark-block 
                    .trademark-card
                        .trademark-card-top 
                            img(src="./images/6.1.png", alt="90 Min Car Service")
                        .trademark-card-bottom
                            h4 90 Min Car Service
                            p Experience Quick Service which completes in just 90 Minutes, which will help you save your precious time and efforts of visiting Workshops to get your Car Serviced.
                    .trademark-card
                        .trademark-card-top 
                            img(src="./images/6.2.png", alt="In-house Technicians")
                        .trademark-card-bottom
                            h4 In-house Technicians
                            p Metre Per Second recruits Best in class German Car Technicians with a Minimum of 8+ years of Experience and Train them. After enabling them with Garage Nation's standards they are assigned for Services/repairs
                    .trademark-card
                        .trademark-card-top 
                            img(src="./images/6.3.png", alt="Savings up to 40%")
                        .trademark-card-bottom
                            h4 Savings up to 40%
                            p Metre Per Second provides 100% Transparent Service which means all Parts are opened right in front of you while performing service and no more surprised or extra spares or costs
        section.seventh-section 
            h3 What we have achieved till date
            .achieved-block
                .achieved-left 
                .achieved-right
                    p Metre Per Secod is a 5 year old India's Premium and Best Rated Car Maintenance Startup. A glimpse of what we have achieved is as follows
                    .achieved-list 
                        .achieved-item 
                            .achieved-img 
                                img(src="./images/7.1.png", alt="Cars serviced")
                            .achieved-text
                                p #[span 150K+] Car’s get Serviced
                        .achieved-item 
                            .achieved-img 
                                img(src="./images/7.2.png", alt="Rated")
                            .achieved-text
                                p #[span 4.8] Rated
                        .achieved-item 
                            .achieved-img 
                                img(src="./images/7.3.png", alt="Happy customers")
                            .achieved-text
                                p #[span 100K+] Happy Customers
        section.eighth-section
            .container 
                h3 4 Step Process
                .steps-block 
                    .steps-item
                        .number 01
                        p Select your car from our wide range of car make catalogue
                    .steps-item
                        .number 02
                        p Pick your preferred service for car, at affordable prices.
                    .steps-item
                        .number 03
                        p Select where you want your car to get repaired
                    .steps-item
                        .number 04
                        p Go cash less by pay paying online and submit your feedback.
                    .steps-item
                        h4 Metre Per Second
                        p Car Repair at your Doorstep
                        .solid-block
                        .goto Go to services
                            img(src="./images/8.png", alt="Go to Services")
                .back
                    a(href="http://").button Back to top                 
        footer
            .container 
                .footer-block
                    .footer-left 
                        .contact
                            a(href="#") Contact us
                        h4 If it is something about Cars, let's talk
                        p Metre Per Second - Car Service &amp; Car Repair 3rd Floor, T-hub Building, IIIT Campus, Gachibowli, Hyderaad
                    .footer-right
                        .phone 832-862-0888
                        .email support@metrepersecond.com
                        .social-block 
                            .social-item
                                a(href="#")
                                    img(src="./images/facebook.png", alt="Facebook")
                            .social-item
                                a(href="#")
                                    img(src="./images/insta.png", alt="Instagram")
                            .social-item
                                a(href="#")
                                    img(src="./images/youtube.png", alt="Youtube")
                            .social-item
                                a(href="#")
                                    img(src="./images/skype.png", alt="Skype")
                            .social-item
                                a(href="#")
                                    img(src="./images/linked.png", alt="linkedin")
